<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogo da Forca</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jogo.css') }}">
</head>
<body>

    <!-- Exibir mensagens flash -->
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endwith %}

    <h2>Dica: {{ dica }}</h2>
    <h2>{{ palavra_escondida }}</h2>
    <p>Quantidade de dígitos: {{ quantidade }}</p>
    <p>Chances restantes: {{ chances }}</p>
    <p>Letras tentadas: {{ ', '.join(letras_tentadas) }}</p>

    <br>

    <form action="{{ url_for('jogo') }}" method="post">
        <label for="palpite">Digite uma letra ou chute uma palavra:</label>
        <input type="text" id="palpite" name="palpite" autocomplete="off" required>
        <br>
        <button type="submit" name="tipo_palpite" value="letra">Enviar Letra</button>
        <button type="submit" name="tipo_palpite" value="palavra">Chutar Palavra</button>
    </form>


</body>
</html>
